# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata

# Swift Package Manager
.build/
Package.resolved
.swiftpm/

# CocoaPods
Pods/
*.podspec
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.ipa
*.apk

# General
*.DS_Store
*.swp
*.lock